@use 'global' as g;

/* -------------------------
/* HEADER
------------------------- */

.header {
  width: 100%;
  height: 148px;
  background-color: g.$color-theme;
  display: flex;
  align-items: center;
  &__container {
    width: 90%;
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    #skipNav {
      background: g.$color-highlight;
      a {
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(1px, 1px, 1px, 1px);
        color: g.$color-theme;
        &:focus,
        &:active {
          display: block;
          width: 8em;
          height: auto;
          top: 1.5em;
          left: 1.5em;
          clip: auto;
          z-index: 1;
          background-color: g.$color-highlight;
          font-size: 1.4em;
          text-decoration: none;
          padding: 0.8em;
          text-align: center;
        }
      } 
    }
    nav {
      // margin: 0 0 0 auto;
      display: flex;
      align-items: center;
      & .nav__menu {
        margin: 0;
        align-items: center;
        padding: 0;
        display: none;
        @media (min-width: 768px) {
          display: flex;
        }
        & .nav__menu-item {
          list-style: none;
          @media (min-width: 768px) {
            + .nav__menu-item {
              margin-left: 2rem;
            }
          }
          
          & a {
            font-size: 1.4rem;
            color: g.$color-white;
            text-decoration: none;
            cursor: pointer;
            transition-property: color;
            transition-duration: 1s;
            &:hover {
              color: g.$color-highlight;
              border-bottom: 2px solid g.$color-theme;
            }
          }
        }
      }
    }
  }


/* -------------------------
/* SEARCH
------------------------- */

  .header__search-wrapper {
    margin: 0 2rem 0 auto;
    float: right;
    position: relative;
    display: flex;
    .search-icon {
      background: g.$color-theme;
      border: 1px solid g.$color-theme;
      width: 3rem;
      margin-left: 1.4rem;
      cursor: pointer;
      i {
        color: g.$color-white;
        font-size: 1.4rem;
        margin-left: -0.2rem;
        &:hover {
          color: g.$color-highlight;
        }
      }
    }
      .search-form-main {
      background: g.$color-white none repeat scroll 0 0;
      -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,.15);
      box-shadow: 1px 1px 7px rgba(0,0,0,.15);
      border-top: 2px solid g.$color-theme;
      padding: 15px;
      position: absolute;
      right: 0;
      top: 74%;
      width: 600px;
      z-index: 4;
      opacity: 0;
      visibility: hidden;
      &.active-search {
        opacity: 1;
        visibility: visible;
      }
      &:before {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid g.$color-theme;
        content: "";
        position: absolute;
        right: 15px;
        top: -10px;
      }
      .search-field {
        padding: 4px 10px;
        border: 4px solid g.$color-theme;
        border-radius: 10px;
        width: 72%;
        float: left;
        height: 3rem;
        font-size: 1.1rem;
      }
      .search-submit {
        border: medium none;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 1.1rem;
        color: g.$color-white;
        float: left;
        padding: 10px 0 10px;
        width: 25%;
        height: 3rem;
        border-radius: 10px;
        background: g.$color-theme;
        margin-left: 0.5rem;
        cursor: pointer;
      }
    }
  }
}

/* -------------------------
/* HAMBURGER MENU
------------------------- */

/* HAMBURGER - Icon */

.header__hamburger {
  position: relative;
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
  /* Hamburger - Default Style */
  .hamburger-button {
    width: 38px;
    height: 23px;
    display: flex;
    z-index: 9;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    border: transparent;
    background: transparent;
    & span {
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: g.$color-white;
    position: relative;
    transition: ease .4s;
    display: block;
    transform-origin: 0 50%;
    }
  }
  &:hover span {
    &:nth-child(1) {
      transform: translateX(5px) rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: translateX(5px) rotate(-45deg);
    }
  }
  &:active span {
    background-color: g.$color-highlight;
  }
  &.is-active span {
    background-color: g.$color-theme;
    z-index: 6;
    &:nth-child(1) {
      transform: translateX(5px) rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: translateX(5px) rotate(-45deg);
    }
  }
}


/* HAMBURGER - Menu Layer */

.menuLayer {
  background: g.$color-white;
  width: 50%;
  min-width: 360px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -120%;
  z-index: 5;
  transition: all 0.6s;
  & .menuLayer-menu {
    margin: 20vh auto;
    width: fit-content;
    padding-left: 0;
    & .menuLayer-menu-item {
      list-style: none;
      margin-left: 0;
      color: g.$color-theme;
      font-family: sans-serif;
      font-size: 1.4rem;
      margin-top: 3rem;
      cursor: pointer;
      z-index: 20;
      & a {
        display: block;
        color: g.$color-theme;
        border-bottom: 3px solid g.$color-white;
        text-decoration: none;
        &:hover {
          cursor: pointer;
          border-bottom: 3px solid g.$color-theme;
        }
        &:active {
          color: g.$color-highlight;
        }
      }
    }
  }
  &.is-active {
    right: 0;
  }
}


