.discover {
  margin: 0 auto;
  padding-bottom: 4rem;
  width: 100%;
  &__wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    .box-bottom {
      display: flex;
      iframe {
        width: 50%;
        border-radius: 20px;
      }
      button {
        background-color: transparent;
        border: 1px solid white;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
        margin-top: auto;
        margin-bottom: 0;
        height: 3rem;
      }
      .transcript-link {
        border: 10px solid white;
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        margin-left: 3rem;
        i {
          margin-right: 0.4rem;
        }
      }
      .transcript {
        width: auto;
        margin-left: 2rem;
        font-size: 1.4rem;
      }
    }
  }
}