@import url("https://fonts.googleapis.com/css2?family=Jaldi&family=Playfair+Display&display=swap");
@import url("../css/main_featured.css");
@import url("../css/main_discover.css");
@import url("../css/main_contact.css");
/* BASE SETTING */
*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  border-radius: 10px;
  outline: 4px #FE4400 solid;
  border: 0.4rem;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Jaldi", sans-serif;
  color: #0E1A44;
  box-sizing: border-box;
}

figure {
  margin: 0;
}

img {
  vertical-align: top;
}

iframe {
  border-width: 0px;
}

h1,
h2,
h3 {
  margin: 0;
  color: #0E1A44;
  font-weight: normal;
}

h2 {
  margin-top: 2rem;
  font-size: 2rem;
}

.header {
  width: 100%;
  height: 148px;
  background-color: #0E1A44;
  display: flex;
  align-items: center;
}

.header__container {
  width: 90%;
  max-width: 1280px;
  display: flex;
  margin: 0 auto;
}

.header__container #skipNav {
  background: #FEDD00;
}

.header__container #skipNav a {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  color: #0E1A44;
}

.header__container #skipNav a:focus, .header__container #skipNav a:active {
  display: block;
  width: 8em;
  height: auto;
  top: 1.5em;
  left: 10em;
  clip: auto;
  z-index: 1000;
  background-color: #FEDD00;
  font-size: 1.4em;
  text-decoration: none;
  padding: 0.8em;
  text-align: center;
}

.header__container__logo {
  vertical-align: middle;
}

.header__container nav {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
}

.header__container nav ul {
  margin: 0;
  align-items: center;
  padding: 0;
}

@media (min-width: 768px) {
  .header__container nav ul {
    display: flex;
  }
}
.header__container nav ul li {
  list-style: none;
}

@media (min-width: 768px) {
  .header__container nav ul li + li {
    margin-left: 2rem;
  }
}
.header__container nav ul li a {
  font-size: 1.4rem;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  transition-property: color;
  transition-duration: 1s;
}

.header__container nav ul li a:hover {
  color: #FEDD00;
  border-bottom: 2px solid #0E1A44;
}

.header__container nav button {
  background: #0E1A44;
  border: 1px solid #0E1A44;
  width: 3rem;
  margin-left: 1.4rem;
}

.header__container nav button i {
  color: #FFFFFF;
  font-size: 1.4rem;
  margin-left: -0.2rem;
}

.hero {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hero .hero__container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.hero .hero__description {
  z-index: 1;
}

.hero .hero__description h1 {
  color: #FFFFFF;
  font-family: "Playfair Display", serif;
  font-size: 4rem;
}

.hero figure {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
}

.hero figure img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  filter: brightness(70%);
}

main {
  width: 100%;
  margin: 0 auto;
}

main section {
  width: 100%;
}

footer {
  width: 100%;
  height: 30vh;
  background: #0E1A44;
  text-align: center;
}

footer .footer__wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

@media (min-width: 768px) {
  footer .footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
footer .footer__wrapper img {
  width: 100px;
}

footer .footer__wrapper--container-right {
  width: auto;
  margin-top: auto;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  footer .footer__wrapper--container-right {
    text-align: center;
  }
}
footer .footer__wrapper--container-right address,
footer .footer__wrapper--container-right small {
  color: #FFFFFF;
  font-style: unset;
}

footer .footer__wrapper--container-sns {
  width: auto;
  font-size: 1.4rem;
  color: #FFFFFF;
  align-items: center;
  margin-top: auto;
  margin-bottom: 0;
}

footer .footer__wrapper--container-sns i {
  color: #FFFFFF;
  margin: 0.5rem;
} /*# sourceMappingURL=style.css.map */
.featured {
  margin: 0 auto;
  width: 100%;
}
.featured__wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}
.featured__cards {
  width: 100%;
}
.featured__cards a {
  display: contents;
}
@media (min-width: 768px) {
  .featured__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
  }
}
.featured__card {
  background: #F8F8F8;
  border-radius: 0 0 4% 4%;
  width: 100%;
  margin: 0 0 2rem;
  display: flex;
  flex-direction: column;
  color: #0E1A44;
}
.featured__card a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.featured__card a :visited {
  color: #480072;
}
.featured__card .card-text {
  order: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: auto;
}
.featured__card .card-text h3 {
  font-size: 1.8rem;
}
.featured__card .card-text p {
  margin: 0.4rem 0 0 0;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.featured__card .card-text time {
  font-size: 1rem;
  order: 3;
}
.featured__card .card-date {
  order: 2;
  padding: 1rem 2rem;
  text-align: right;
}
.featured__card .card-image {
  order: 0;
  aspect-ratio: 16/9;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.featured__card .card-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .featured__card {
    width: 49%;
  }
}
@media (min-width: 1024px) {
  .featured__card {
    width: 32%;
  }
}/*# sourceMappingURL=main_featured.css.map */