
$checkbox-size: 16px;
$form-element-border-radius: 10px;
$section-bg: #F8F8F8;
$theme-color-main: #19284E;
$theme-color-white: #FFFFFF;
$input-element-placeholder: #666666;
$button-element-bg: #3e82ff;
$button-element-text: #ccc;
$button-element-hover: #536799;
$required-mark: red;

$checkbox-border-width: 0.2rem !default;
$checkbox-color: #19284E !default;
$checkbox-bg: #fff !default;
$checkbox-border-color: #19284E !default;
$checkbox-checked-color: #19284e !default;
$checkbox-checked-bg: #FEDD00 !default;
$checkbox-checked-border-color: #19284E !default;

$radio-border-width: 0.2rem !default;
$radio-color: #19284E !default;
$radio-bg: #fff !default;
$radio-border-color: #19284E !default;
$radio-checked-color: #19284E !default;
$radio-checked-bg: #FEDD00 !default;
$radio-checked-border-color: #19284E !default;


.contact {
  background-color: $section-bg;
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 1rem 0;
  width: 100%;
  &__wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 3rem auto;
    @media (min-width: 768px) {
      display: flex;
    }
  }
  &__header {
    @media (min-width: 768px) {
      width: 30%;
      h2 {
        margin-top: 1.2rem;
      }
    }
    margin-right: 1%;
    p {
      margin: 0.8rem 0 2rem;
    }
  }
  &__form {
    width: 100%;
    @media (min-width: 768px) {
      width: 90%;
      padding-left: 2%;
    }
    fieldset {
      border: none;
      margin: 0 0 1rem;
      padding: 0;
      a {
        color: $theme-color-main;
        text-decoration: underline;
      }
      legend {
        margin: 0rem 0 1rem;
      }
      label {
        display: block;
        margin: 1rem 0;
      }
      .required-text {
        color: $required-mark;
        &::before {
          content: "*";
        }
      }
      input, textarea, select {
        background-color: $theme-color-white;
        border: 4px solid $theme-color-main;
        border-radius: 10px;
        font-size: 1.1rem;
        color: $input-element-placeholder;
        margin: 0.4rem 0;
        min-height: 3em;
        padding: 0.2em 1em;
        width: 100%;
      }
      label,
      input[type='checkbox'],
      button {
        cursor: pointer;
      }
      .dropdown {
        // margin-bottom: 0.2rem;
        padding: 0.6rem;
        width:100%;
      }
      .option {
        margin: -0.4rem auto auto 1rem;
      }
      .inline {
        width: unset;
        margin: 0 0.5em 0 0;
        vertical-align: middle;
      }
      button[type="submit"] {
        display: block;
        width: 30%;
        margin: 1em 0 0 auto;
        height: 2em;
        font-size: 1.4rem;
        background-color: $theme-color-main;
        color: $theme-color-white;
        min-width: 300px;
        border: 4px solid  $theme-color-main;
        border-radius: 10px;
        min-height: 2.6em;
        padding: 0.2em 0.4em;
      }
      button[type="submit"]:hover {
        border: 4px solid $button-element-hover;
        background-color: $button-element-hover;
      }
      input[type="radio"], input[type="checkbox"]{
        margin-left: 16px;
      }
      ::placeholder {
        color: $input-element-placeholder;
      }
      
    }
    fieldset:last-of-type {
      text-align: right;
    }
  }
}

/*
--------------------
radio
--------------------
*/

.styled-radiobutton {
  position: relative;
  display: inline-block;
  cursor: pointer;
  line-height: 2;

  .styled-radiobutton-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 0.8em;
      height: 0.8em;
      border: $radio-border-width solid $radio-border-color;
      background-color: $radio-bg;
      border-radius: 50%;
      z-index: 4;
  }

  input[type="radio"] {
      position: absolute;
      opacity: 0;
      top: -.125em;
      left: -.125em;
      width: 1.5em;
      height: 1.5em;
      margin: 0;
      -webkit-appearance: none;
      appearance: none;
      z-index: 2;

      &:checked + .styled-radiobutton-icon {
          background: $radio-checked-bg;
          border: $radio-border-width solid $radio-checked-border-color;

          &:after {
              display: block;
              content: "";
              position: absolute;
              top: 50%;
              left: 50%;
              width: 65%;
              height: 65%;
              background-color: $radio-checked-color;
              border-radius: 50%;
              transform: translate( -50%, -50% );
          }

      }

      &:focus {
          opacity: 1;
      }

  }

  .styled-radiobutton-label {
      position: relative;
      padding-left: 1.75em;
      z-index: 3;
  }


/*
--------------------
checkbox
--------------------
*/

.styled-checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
    line-height: 1.25;

    .styled-checkbox-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 1.25em;
        height: 1.25em;
        border: $checkbox-border-width solid $checkbox-border-color;
        background-color: $checkbox-bg;
        border-radius: .1em;
        z-index: 4;
    }

    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        top: -.125em;
        left: -.125em;
        width: 1.5em;
        height: 1.5em;
        margin: 0;
        font-size: 1em;
        -webkit-appearance: none;
        appearance: none;
        box-sizing: border-box;
        z-index: 2;

        &:checked + .styled-checkbox-icon {
            background: $checkbox-checked-bg;
            border: $checkbox-border-width solid $checkbox-checked-border-color;

            &:after {
                display: block;
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                width: 30%;
                height: 60%;
                border-bottom: .2em solid $checkbox-checked-color;
                border-right: .2em solid $checkbox-checked-color;
                transform:
                    translate( -50%, 0 )
                    rotate( 45deg );
            }

        }

        &:focus {
            opacity: 1;
        }

    }

    .styled-checkbox-label {
        position: relative;
        padding-left: 1.75em;
        z-index: 3;
    }

}

}