@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Playfair+Display&display=swap');
@import url('../css/main_featured.css');
@import url('../css/main_discover.css');
@import url('../css/main_contact.css');

$color-theme: #0E1A44;
$color-highlight: #FEDD00;
$color-focus: #FE4400;
$color-white: #FFFFFF;
$color-lightgrey: #F8F8F8;
$font-main: 'Jaldi', sans-serif;
$font-h1: 'Playfair Display', serif;


/* BASE SETTING */

*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus-visible {
  border-radius: 10px;
  outline: 0.4rem $color-focus solid;
  outline-offset: 0;
  }


html {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: $font-main;
  color: $color-theme;
  box-sizing: border-box;
}

figure {
  margin: 0;
}

img {
  vertical-align: top;
}

iframe {
  border-width: 0px;
}

h1,
h2,
h3 {
  margin: 0;
  color: $color-theme;
  font-weight: normal;
}

h2 {
  margin-top: 2rem;
  font-size: 2rem;
}

// -------- HEADER -------- //
.header {
  width: 100%;
  height: 148px;
  background-color: $color-theme;
  display: flex;
  align-items: center;
  &__container {
    width: 90%;
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    #skipNav {
      background: $color-highlight;
      a {
        position: absolute;
        width: 1px;
        height: 1px;
        clip: rect(1px, 1px, 1px, 1px);
        color: $color-theme;
        &:focus,
        &:active {
          display: block;
          width: 8em;
          height: auto;
          top: 1.5em;
          left: 1.5em;
          clip: auto;
          z-index: 1000;
          background-color: $color-highlight;
          font-size: 1.4em;
          text-decoration: none;
          padding: 0.8em;
          text-align: center;
        }
      } 
    }
    &__logo {
      vertical-align: middle;
    }
    nav {
      margin: 0 0 0 auto;
      display: flex;
      align-items: center;
      ul {
        margin: 0;
        align-items: center;
        padding: 0;
        @media (min-width: 768px) {
          display: flex;
        }
        li {
          list-style: none;
          @media (min-width: 768px) {
            + li {
              margin-left: 2rem;
            }
          }
          
          a {
            font-size: 1.4rem;
            color: $color-white;
            ;
            text-decoration: none;
            cursor: pointer;
            transition-property: color;
            transition-duration: 1s;
            &:hover {
              color: $color-highlight;
              border-bottom: 2px solid $color-theme;
            }
          }
        }
      }
      button {
        background: $color-theme;
        border: 1px solid $color-theme;
        width: 3rem;
        margin-left: 1.4rem;
        cursor: pointer;
        i {
          color: $color-white;
          font-size: 1.4rem;
          margin-left: -0.2rem;
        }
      }
    }
  }
}

// -------- HERO -------- //
.hero {
  width: 100%;
  height: 60vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  
  .hero__container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
  }
  
  .hero__description {
    z-index: 1;
    
     h1 {
      color: $color-white;
      font-family: 'Playfair Display', serif;
      font-size: 4rem;
    } 
  }
  
  figure {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex;
    justify-content: center;
    
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      filter: brightness(70%);
    }
  }
}


// -------- MAIN -------- //
main {
  width: 100%;
  margin: 0 auto;
  section {
    width: 100%;
  }
}

// -------- FOOTER -------- //
footer {
  width: 100%;
  height: 40vh;
  background: $color-theme;
  text-align: center;
  .footer__wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
    img {
      width: 100px;
    }
  }

  .footer__wrapper--container-right {
    width: auto;
    @media (min-width: 768px) {
      text-align: center;
    }
    margin-top: auto;
    margin-bottom: 0;
    address,
    small {
      color: $color-white;
      font-style: unset;
    }
  }

  .footer__wrapper--container-sns {
    width: auto;
    font-size: 1.4rem;
    color: $color-white;
    align-items: center;
    margin-top: auto;
    margin-bottom: 0;
    i {
      color: $color-white;
      margin: 0.5rem;
      }
    }
}