/* COMMON SETTINGS */
*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus-visible {
  border-radius: 10px;
  outline: 0.4rem #FE4400 solid;
  outline-offset: 0;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Jaldi", sans-serif;
  color: #0E1A44;
  box-sizing: border-box;
}

figure {
  margin: 0;
}

img {
  vertical-align: top;
}

iframe {
  border-width: 0px;
}

h1,
h2,
h3 {
  margin: 0;
  color: #0E1A44;
  font-weight: normal;
}

h2 {
  margin-top: 2rem;
  font-size: 2rem;
}

main {
  width: 100%;
  margin: 0 auto;
}
main section {
  width: 100%;
}

.header {
  width: 100%;
  height: 148px;
  background-color: #0E1A44;
  display: flex;
  align-items: center;
}
.header__container {
  width: 90%;
  max-width: 1280px;
  display: flex;
  margin: 0 auto;
}
.header__container #skipNav {
  background: #FEDD00;
}
.header__container #skipNav a {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  color: #0E1A44;
}
.header__container #skipNav a:focus, .header__container #skipNav a:active {
  display: block;
  width: 8em;
  height: auto;
  top: 1.5em;
  left: 1.5em;
  clip: auto;
  z-index: 1000;
  background-color: #FEDD00;
  font-size: 1.4em;
  text-decoration: none;
  padding: 0.8em;
  text-align: center;
}
.header__container nav {
  margin: 0 0 0 auto;
  display: flex;
  align-items: center;
}
.header__container nav ul {
  margin: 0;
  align-items: center;
  padding: 0;
}
@media (min-width: 768px) {
  .header__container nav ul {
    display: flex;
  }
}
.header__container nav ul li {
  list-style: none;
}
@media (min-width: 768px) {
  .header__container nav ul li + li {
    margin-left: 2rem;
  }
}
.header__container nav ul li a {
  font-size: 1.4rem;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  transition-property: color;
  transition-duration: 1s;
}
.header__container nav ul li a:hover {
  color: #FEDD00;
  border-bottom: 2px solid #0E1A44;
}
.header .header__search-wrapper {
  float: right;
  position: relative;
  display: flex;
}
.header .header__search-wrapper .search-icon {
  background: #0E1A44;
  border: 1px solid #0E1A44;
  width: 3rem;
  margin-left: 1.4rem;
  cursor: pointer;
}
.header .header__search-wrapper .search-icon i {
  color: #FFFFFF;
  font-size: 1.4rem;
  margin-left: -0.2rem;
}
.header .header__search-wrapper .search-form-main {
  background: #FFFFFF none repeat scroll 0 0;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
  border-top: 2px solid #0E1A44;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 74%;
  width: 600px;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
}
.header .header__search-wrapper .search-form-main.active-search {
  opacity: 1;
  visibility: visible;
}
.header .header__search-wrapper .search-form-main:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #0E1A44;
  content: "";
  position: absolute;
  right: 15px;
  top: -10px;
}
.header .header__search-wrapper .search-form-main .search-field {
  padding: 4px 10px;
  border: 4px solid #0E1A44;
  border-radius: 10px;
  width: 72%;
  float: left;
  height: 3rem;
}
.header .header__search-wrapper .search-form-main .search-submit {
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  color: #FFFFFF;
  float: left;
  padding: 10px 0 10px;
  width: 25%;
  height: 3rem;
  border-radius: 10px;
  background: #0E1A44;
  margin-left: 0.5rem;
  cursor: pointer;
}

.hero {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero .hero__container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}
.hero .hero__description {
  z-index: 1;
}
.hero .hero__description h1 {
  color: #FFFFFF;
  font-family: "Playfair Display", serif;
  font-size: 4rem;
}
.hero figure {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
}
.hero figure img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(70%);
}

.featured {
  margin: 0 auto;
  width: 100%;
}
.featured__wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}
.featured__cards {
  width: 100%;
}
.featured__cards a {
  display: contents;
}
@media (min-width: 768px) {
  .featured__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
  }
}
.featured__card {
  background: #F8F8F8;
  border-radius: 0 0 4% 4%;
  width: 100%;
  margin: 0 0 2rem;
  display: flex;
  flex-direction: column;
  color: #0E1A44;
}
.featured__card a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #0E1A44;
}
.featured__card a:active, .featured__card a:focus, .featured__card a:visited {
  color: #0E1A44;
}
.featured__card .card-text {
  order: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: auto;
  color: #0E1A44;
}
.featured__card .card-text h3 {
  font-size: 1.8rem;
}
.featured__card .card-text p {
  margin: 0.4rem 0 0 0;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.featured__card .card-text time {
  font-size: 1rem;
  order: 3;
}
.featured__card .card-date {
  order: 2;
  padding: 1rem 2rem;
  text-align: right;
}
.featured__card .card-image {
  order: 0;
  aspect-ratio: 16/9;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.featured__card .card-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .featured__card {
    width: 49%;
  }
}
@media (min-width: 1024px) {
  .featured__card {
    width: 32%;
  }
}

.discover {
  margin: 0 auto;
  padding-bottom: 4rem;
  width: 100%;
}
.discover__wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}
.discover__wrapper .box-bottom {
  height: auto;
}
@media (min-width: 768px) {
  .discover__wrapper .box-bottom {
    display: flex;
  }
}
.discover__wrapper .box-bottom iframe {
  width: 100%;
  border: none;
  border-width: 0px;
  border-radius: 20px;
}
@media (min-width: 768px) {
  .discover__wrapper .box-bottom iframe {
    width: 50%;
  }
}
.discover__wrapper .box-bottom button {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: auto auto 1rem 0;
  height: 3rem;
}
.discover__wrapper .box-bottom .box-right {
  width: 100%;
}
@media (min-width: 768px) {
  .discover__wrapper .box-bottom .box-right {
    width: 48%;
  }
}
.discover__wrapper .box-bottom .box-right .transcript-link {
  width: 20rem;
  height: 3rem;
  padding: 10px 0px;
  border: none;
  border-radius: 10px;
  background: #FFFFFF;
  font-size: 1.4rem;
  color: #0E1A44;
}
.discover__wrapper .box-bottom .box-right .transcript-item {
  display: none;
  width: auto;
  margin-left: 2%;
  border-radius: 20px;
  background: #F8F8F8;
  margin-bottom: 0.4rem;
  padding: 2rem;
  font-size: 1.2rem;
  font-family: sans-serif;
  color: #333333;
}

.contact {
  background-color: #F8F8F8;
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 1rem 0;
  width: 100%;
}
.contact__wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 3rem auto;
}
@media (min-width: 768px) {
  .contact__wrapper {
    display: flex;
  }
}
.contact__header {
  margin-right: 1%;
}
@media (min-width: 768px) {
  .contact__header {
    width: 30%;
  }
  .contact__header h2 {
    margin-top: 1.2rem;
  }
}
.contact__header p {
  margin: 0.8rem 0 2rem;
}
.contact__form {
  width: 100%;
}
@media (min-width: 768px) {
  .contact__form {
    width: 90%;
    padding-left: 2%;
  }
}
.contact__form fieldset {
  border: none;
  margin: 0 0 1rem;
  padding: 0;
}
.contact__form fieldset a {
  color: #0E1A44;
  text-decoration: underline;
}
.contact__form fieldset legend {
  margin: 0rem 0 1rem;
}
.contact__form fieldset label {
  display: block;
  margin: 1rem 0;
}
.contact__form fieldset .required-text {
  color: #FE4400;
}
.contact__form fieldset .required-text::before {
  content: "*";
}
.contact__form fieldset input, .contact__form fieldset textarea, .contact__form fieldset select {
  background-color: #FFFFFF;
  border: 4px solid #0E1A44;
  border-radius: 10px;
  font-size: 1.1rem;
  color: #333333;
  margin: 0.4rem 0;
  min-height: 3em;
  padding: 0.2em 1em;
  width: 100%;
}
.contact__form fieldset label,
.contact__form fieldset input[type=checkbox],
.contact__form fieldset button {
  cursor: pointer;
}
.contact__form fieldset .dropdown {
  padding: 0.6rem;
  width: 100%;
}
.contact__form fieldset .option {
  margin: -0.4rem auto auto 1rem;
}
.contact__form fieldset .inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
.contact__form fieldset button[type=submit] {
  display: block;
  width: 30%;
  margin: 1em 0 0 auto;
  height: 2em;
  font-size: 1.4rem;
  background-color: #0E1A44;
  color: #FFFFFF;
  min-width: 300px;
  border: 4px solid #0E1A44;
  border-radius: 10px;
  min-height: 2.6em;
  padding: 0.2em 0.4em;
}
.contact__form fieldset button[type=submit]:hover {
  border: 4px solid #3a4c8a;
  background-color: #3a4c8a;
}
.contact__form fieldset input[type=radio], .contact__form fieldset input[type=checkbox] {
  margin-left: 16px;
}
.contact__form fieldset ::-moz-placeholder {
  color: #333333;
}
.contact__form fieldset :-ms-input-placeholder {
  color: #333333;
}
.contact__form fieldset ::placeholder {
  color: #333333;
}
.contact__form fieldset:last-of-type {
  text-align: right;
}

footer {
  width: 100%;
  height: 40vh;
  background: #0E1A44;
  text-align: center;
}
footer .footer__wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
@media (min-width: 768px) {
  footer .footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
footer .footer__wrapper img {
  width: 100px;
}
footer .footer__wrapper--container-right {
  width: auto;
  margin-top: auto;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  footer .footer__wrapper--container-right {
    text-align: center;
  }
}
footer .footer__wrapper--container-right address,
footer .footer__wrapper--container-right small {
  color: #FFFFFF;
  font-style: unset;
}
footer .footer__wrapper--container-sns {
  width: auto;
  font-size: 1.4rem;
  color: #FFFFFF;
  align-items: center;
  margin-top: auto;
  margin-bottom: 0;
}
footer .footer__wrapper--container-sns i {
  color: #FFFFFF;
  margin: 0.5rem;
}/*# sourceMappingURL=style.css.map */