// COLOUR //
$color-theme: #0E1A44;
$color-highlight: #FEDD00;
$color-focus: #FE4400;
$color-white: #FFFFFF;
$color-lightgrey: #F8F8F8;
$color-darkgrey: #333333;


// FONT //
$font-main: 'Jaldi', sans-serif;
$font-h1: 'Playfair Display', serif;